body{background:url('img/bg.jpg');}

#wrapper{margin:auto; text-align:center; width:1210px; padding:50px; padding-top:25px; padding-bottom:25px;}

#musics, #videos, #moments, #images{border:1px solid #000; width:20%; text-align:center; margin-top:50px; margin-left:2.4%; margin-right:2.4%; height:25px;float:left;}
#music, #video, #moment, #image{display:none; background:pink; color:#fff; width:95%; margin-top:50px; height:600px; float:left; margin-left:2.4%; margin-right:2.4%;}
.clear{clear:both;}
.inner_ul{width:40%; float:left;}
.inner_content{width:60%; float:right;}

